body {
  color:White;
  text-align: Center;
  background-color: Black
}
button {
 color:Blue;
 background-color:Red;
 border-color:Purple;
}
button:active {
  color:#ff188d;
  background-color:Black;
}
